*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #2c70ff;
    /*font-family: Arial,  Helvetica, Arial, sans-serif;*/
    color: #222222;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
img{
    display: block;
    max-width: 100%;
}

/* PARALLAX */
.opacidade{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    /*opacity: 0.5;*/
    /*background-color: silver;*/
}
.background1{
    background: url(../img/bg1.jpg);
}
.background2{
    background: url(../img/bg2.jpg);
}
.background3{
    background: url(../img/bg3.jpg);
}
.background4{
    background: url(../img/bg4.jpg);
}
.parallax{
    /*height: 100vh;*/
    min-height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.conteudoParallax{
    min-width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    position: relative;
}


h1 a{
    cursor: default;
}


/* IDENTIFICAÇÃO */
.identificacao {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    font-family: 'Josefin Sans', sans-serif;
}
.identificacao-text{
    flex: 1 1 300px;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    z-index: 2;
    color: white;
}
.identificacao-text h1{
    font-size: 2em;
}
.identificacao-text span{
    font-size: 1em;
}

/* SOBRE MIM */

.sobre{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}



/* HABILIDADES */
.habilidade{
    max-width: 80vw;
    margin: 0px auto;
    padding: 80px 0px;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
}


/*Contato*/
.contato{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    background-color: black;
}
.contato .contato-container{
    max-width: 80vw;
    width: 80vw;
    margin: 10px auto;
    padding: 10px 0px;
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    flex-direction: column;

}
.contato-info{
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    color: white;
    text-align: center;
}
.contato-info h1{
    text-align: center;
    color: white;
    font-size: 2.5em;
}
.contato-info h2{
    text-align: center;
    color: white;
    font-size: 1.25em;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.contato-info a{
    padding: 10px;
}
.contatos{
    flex: 1;
    font-size: 1.25em;
    line-height: 1.4em;
    border-bottom: 1em;
    color: white;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    flex-flow: column;
}
.item-contato{
    margin: 0 10px;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: block;
   /* background-color: rgba(255,255,255,0.05 */
    flex: 1;
}

.item-contato p{
    flex: 1;
    font-size: 0.8em;
    display: block;

}
.item-contato h2{
    flex: 2;
    padding: 0 0 40px 0;
    font-size: 1.875rem;
    display: block;
}

.redes-sociais{
    flex: 3;
    font-size: 1.25em;
    line-height: 1.4em;
    /*border-bottom: 1em;*/
    color: white;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}
.item-redes-sociais i{
    flex: 0;
    margin: 0px 10px;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size: 2em;
    border-radius: 20px;
    /*background-color: rgba(255,255,255,0.05);*/
    color: white;
    transition: color 500ms;
}
.item-redes-sociais i:hover{
    color: #2c70ff;
    /*color: black;*/
    transition: color 500ms;
    border-radius: 20px;
}

/*Footer*/
.footer{
    display: flex;
    background: black;
    align-items: center;
}
.footer p{
    padding: 10px;
    flex: 1;
    text-align: center;
    font-size: 1em;
    color: white;
}